<launch>
    <!--Configurable arguments-->
    <arg name="cameras_calibrations_path" default="$(find collision_detection_module)/Settings"/>
    <rosparam command="load" file="$(find collision_detection_module)/Settings/calibration_params.yaml"/>
    <arg name="robot_name" default="girona500"/>

    <!-- Static transform of the camera location -->
	<node pkg="tf" type="static_transform_publisher" name="multicamerasys_location" args="0.0 0.0 0.9374 0 0 0 $(arg robot_name)/base_link mcs_tf 100"/>

    <!--ros node-->
    <node name="collision_detector" pkg="collision_detection_module" type ="collision_detection_module_node" output="screen"
    args="--flagfile=$(find collision_detection_module)/config/params.conf $(arg cameras_calibrations_path)">
        <!--Remap of topics-->
        <remap from="/ladybug1/image_color" to="/girona500/ladybug1/image_color"/>
        <remap from="/ladybug2/image_color" to="/girona500/ladybug2/image_color"/>
        <remap from="/ladybug3/image_color" to="/girona500/ladybug3/image_color"/>
        <remap from="/ladybug4/image_color" to="/girona500/ladybug4/image_color"/>
        <remap from="/ladybug5/image_color" to="/girona500/ladybug5/image_color"/>
        <remap from="/ladybug6/image_color" to="/girona500/ladybug6/image_color"/>
        <remap from="/navigator/odometry" to="/girona500/navigator/odometry"/>
        <remap from="/dynamics/odometry" to="/girona500/dynamics/odometry"/>
        <remap from="/navigator/navigation" to="/girona500/navigator/navigation"/>
    </node>

    <!--Caller node-->
    <node name="service_caller" pkg="collision_detection_module" type="service_caller.py" output="screen"/>
</launch>